.adjust {
  width: 100%;
  height: 42.5rem;
}

.whiteAdjust {
  color: black;
}

.cap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding-top: 1rem;
}
.anchoradjust a {
  color: black;
}
/* @media (max-width: 970px) {
  .adjust {
    width: 100% !important;
    height: 15rem;
  }
  .whiteAdjust {
    color: white;
  }
  .anchoradjust a {
    color: white;
  }
}
.anchoradjust a:hover {
  color: rgb(227, 201, 108);
} */
